<h1 style="text-align:center">Your Personalized Statistics</h1>

<h2>Your Go Fish Record</h2>
<br />
<h3>Total Wins: @ViewBag.Wins</h3>
<h3>Total Losses: @ViewBag.Losses</h3>
<h3>Total Ties: @ViewBag.Ties</h3>
<br />
<br />
<h2>Your War Record</h2>
<br />
<h3>Total Wins: @ViewBag.WarWins</h3>
<h3>Total Losses: @ViewBag.WarLosses</h3>



<br />
<input type="button" value="Return to Main Menu" onclick="location.href='/Home/Index'" />
<img src="~/Images/win.jpg" style="position:absolute; right:400px; top:150px; width:400px" />